body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF6900;
    color: white;
    padding: 15px;
    text-align: center;
}

section {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

.botao-login {
    margin-top: 15px;
    background-color: transparent; /* Torna o fundo do botão transparente */
    border: none; /* Remove a borda do botão */
    padding: 0; /* Remove o preenchimento do botão */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
}

.botao-login img {
    width: 30px; /* Ajuste o tamanho da imagem se necessário */
    height: 30px; /* Ajuste o tamanho da imagem se necessário */
}

.botao-registrar {
    background-color: transparent; /* Fundo transparente */
    border: none; /* Remove a borda */
    padding: 0; /* Remove o preenchimento */
    cursor: pointer; /* Cursor de ponteiro */
}

.botao-registrar img {
    width: 30px; /* Ajuste o tamanho da imagem se necessário */
    height: 30px; /* Ajuste o tamanho da imagem se necessário */
}